<nav class="navbar navbar-expand-sm bg-transparent fixed-top text-white text-center" id="navbar">
    <div class="container-fluid">
            <ul class="navbar-nav">
                    <li class="nav-item">
                        <h5>CornerStone</h5>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <a href="">
                        <li class="nav-item">
                            <h5>Home</h5>
                        </li>
                    </a>
                    <a href="">
                        <li class="nav-item">
                            <h5>Layanan</h5>
                        </li>
                    </a>
                    <a href="">
                        <li class="nav-item">
                            <h5>Tentang Kami</h5>
                        </li>
                    </a>
                    <a href="">
                        <li class="nav-item">
                            <h5>Kontak</h5>
                        </li>
                    </a>
                </ul>
    </div>
</nav>