{% extends 'base.html' %}
{% load static %}


{% block addStyles %}
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock addStyles %}


{% block konten1 %}
<section>
    <div class="jumbotron jumbotron-fluid text-center text-white">
        <div class="container">
            <img src="{% static 'img/idea.svg' %}" alt="" height="150px" width="150px">
            <h1>CornerStone Indonesia</h1>
            <hr>
            <h2>- One Stop Human Development Solution Company -</h2>
            <div class="container mt-5">
                <button class="btn btn-lg text-white btn-warning">Try it Now!</button>
            </div>
        </div>
    </div>
</section>

<div class="testi-box">
    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="{% static 'img/mockup.png' %}" alt="" height="300px">
                </div>
                <div class="col-lg-6">
                    <div class="container text-box">
                        <h4>RekruTes</h4>
                        <div class="body">
                            <hr>
                            <p>Platform yang digunakan untuk melakukan psikotes secara digital, presisi dan akurasi dari
                                hasil sangat tinggi dan dilengkapi dengan fitur rekomendasi yang didasarkan pada hasil
                                psikotes</p>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <img src="{% static 'img/appstore.svg' %}" alt="" width="100%">
                                </div>
                                <div class="col-lg-6">
                                    <img src="{% static 'img/playstore.svg' %}" alt="" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature-2">
    <div class="container feature-2-box text-center">
        <div class="row">
            <div class="col-lg-6">
                <div class="container text-box">
                    <h4>Reminder</h4>
                    <div class="body">
                        <hr>
                        <p>Platform yang digunakan untuk melakukan self reminder pada kegiatan sehari hari, tujuannya
                            agar pengguna dapat menjadi pribadi yang lebih baik setiap harinya</p>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{% static 'img/appstore.svg' %}" alt="" width="100%">
                            </div>
                            <div class="col-lg-6">
                                <img src="{% static 'img/playstore.svg' %}" alt="" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'img/mockup.png' %}" height="350px" alt="">
            </div>
        </div>
    </div>
</div>

<div class="feature-3">
    <div class="container feature-2-box text-center">
        <div class="row">
            <div class="col-lg-6">
                <img src="{% static 'img/mockup.png' %}" height="350px" alt="">
            </div>
            <div class="col-lg-6">
                <div class="container text-box">
                    <h4>Teacher Institute</h4>
                    <div class="body">
                        <hr>
                        <p>Platform yang digunakan untuk melakukan self reminder pada kegiatan sehari hari, tujuannya
                            agar pengguna dapat menjadi pribadi yang lebih baik setiap harinya</p>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="{% static 'img/appstore.svg' %}" alt="" width="100%">
                            </div>
                            <div class="col-lg-6">
                                <img src="{% static 'img/playstore.svg' %}" alt="" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="layanan" class="bg-warning">
    <div class="row text-center text-white">
        <div class="col-lg-3">
            <div class="container layanan-box">
                <div class="card">
                    <img src="{% static 'img/integrasi.svg' %}" alt="">
                    <div class="body-box">
                        <h4>Terintegrasi</h4>
                        <hr>
                        <div class="cut-text">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aperiam in suscipit
                                rerum ipsa voluptates unde ex rem, dolor nesciunt modi accusamus vitae architecto
                                aspernatur incidunt dolore fugiat dignissimos deleniti.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container layanan-box">
                <div class="card">
                    <img src="{% static 'img/interaktif.svg' %}" alt="">
                    <div class="body-box">
                        <h4>Interaktif</h4>
                        <hr>
                        <div class="cut-text">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore a reprehenderit in
                                cumque
                                quia? Nemo, deserunt earum non amet assumenda omnis eius molestiae neque vel quae, sint
                                ipsa
                                quisquam accusantium?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container layanan-box">
                <div class="card">
                    <img src="{% static 'img/akurat.svg' %}" alt="">
                    <div class="body-box">
                        <h4>Akurat</h4>
                        <hr>
                        <div class="cut-text">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro nemo nisi necessitatibus,
                                repellat a dolore nobis? Sequi modi voluptas tempore atque culpa similique amet
                                exercitationem voluptates, reprehenderit quidem? Maxime, molestias?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="container layanan-box">
                <div class="card">
                    <img src="{% static 'img/test.svg' %}" alt="">
                    <div class="body-box">
                        <h4>Lengkap</h4>
                        <hr>
                        <div class="cut-text">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nobis error illo
                                alias
                                laudantium. Omnis labore ab aut rerum cumque quasi, debitis vitae deserunt dolorum
                                assumenda
                                tenetur blanditiis quae suscipit?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="portfolio text-center">
    <div class="container mt-3">
        <h1 class='bg-warning'>Our Clients</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'img/Pepsi.svg' %}" alt="" width="50%">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'img/Walmart.svg' %}" alt="" width="50%">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'img/Netflix.svg' %}" alt="" width="50%">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'img/Ebay.svg' %}" alt="" width="50%">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'img/Amazon.svg' %}" alt="" width="60%">
            </div>
            <div class="col-lg-4">
                <img src="{% static 'img/CNN.svg' %}" alt="" width="50%">
            </div>
        </div>
        <div class="row">
                <div class="col-lg-4">
                    <img src="{% static 'img/gov-nasa.svg' %}" alt="" width="40%">
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'img/Starbucks.svg' %}" alt="" width="40%">
                </div>
                <div class="col-lg-4">
                    <img src="{% static 'img/Fox.svg' %}" alt="" width="50%">
                </div>
            </div>
    </div>
    <hr>
</div>
<div class="testimoni text-center">
    <div class="container">
        <h1 class='bg-warning'>Testimoni</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="container testimoni-box">
                <img src="{% static 'img/boy.svg' %}" alt="">
                <div class="body">
                    <h6 class="text-muted">Erik Sanjaya</h6>
                    <h5>- CEO -</h5>
                    <h6>Bukulapuk.com</h6>
                    <p class="text-muted">Aplikasi yang sangat bagus dan bermanfaat, perusahaan saya memakai layanan
                        PyschoTrack untuk menjaring talenta talenta masyarakat Indonesia untuk bisa bergabung di
                        BukuLapuk</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="container testimoni-box">
                <img src="{% static 'img/girl.svg' %}" alt="">
                <div class="body">
                    <h6 class="text-muted">Annisa Mutia Harmoni</h6>
                    <h5>- HR Manager -</h5>
                    <h6>Tukupedia</h6>
                    <p class="text-muted">Aplikasi atau layanan yang sangat memudahkan HR untuk bekerja, membantu
                        melihat potensi terbaik yang ada di dalam diri kandidat perusahaan Tukupedia</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="container testimoni-box">
                <img src="{% static 'img/man.svg' %}" alt="">
                <div class="body">
                    <h6 class="text-muted">Budi Rasa</h6>
                    <h5>- Karyawan -</h5>
                    <h6>BliBlo</h6>
                    <p class="text-muted">Aplikasi Resycho sangat berguna bagi saya, karena saya dapat merefleksikan
                        diri saya setiap harinya,</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small bg-dark">

    <div class="container footer-title text-white text-center">
        <h4>Follow Us</h4>
        <hr>
    </div>

    <!-- Footer Elements -->
    <div class="container text-center">

        <!-- Grid row-->
        <div class="row text-white">

            <!-- Grid column -->
            <div class="col-md-3">
                <img src="{% static 'img/facebook.svg' %}" alt="" width="50px">
                <small>CornerStone</small>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/twitter.svg' %}" alt="" width="50px">
                <small>@cornerstoneID</small>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/youtube.svg' %}" alt="" width="50px">
                <small>CornerStoneID</small>
            </div>
            <div class="col-md-3">
                <img src="{% static 'img/instagram.svg' %}" alt="" width="50px">
                <small>@cornerstoneID</small>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center bg-warning py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"><strong>Teacher Institute</strong></a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock konten1 %}


{% block addScripts %}
<script>
    $(window).ready(() => {
        $(window).scroll((e) => {
            var scrollPosition = $(window).scrollTop()
            console.log(scrollPosition)
            if (scrollPosition >= 80) {
                $('#navbar').addClass('bg-dark')
                $('#navbar').removeClass('bg-transparent')
            } else {
                $('#navbar').removeClass('bg-dark')
                $('#navbar').addClass('bg-transparent')
            }
        })
    })
</script>
{% endblock addScripts %}